<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
      </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
    rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Tweety</title>
  </head>
  <body>
    <!-- LEFT SIDE NAV -->
    <div class="sidebar">

      <!-- Logo -->
      <i class="fab fa-twitter"></i>
      
      <!-- Home -->
      <a href="/" class="text-decoration-none"> 
      <div class="sidebarOption">
        <span class="material-icons"> 
          home 
        </span>
        <h2>Home</h2>
      </div>
      </a>

      <!-- Profile -->
        <a href="/profile/<%=user.username%>" class="text-decoration-none"> 
      <div class="sidebarOption active">
        <span class="material-icons"> 
          perm_identity 
        </span>
          <h2>      
            Profile
          </h2>
        </div>
      </a>
      <!-- Play Game -->
      <a href="/game" class="text-decoration-none"> 
        <div class="sidebarOption">
          <span class="material-icons">
            games
          </span>
            <h2>
              Play Game
            </h2>
          <!-- <button class="sidebar__tweet">Tweet</button> -->
        </div>
      </a>
      <!-- Logout -->
      <a href="/logout" class="text-decoration-none"> 
      <div class="sidebarOption">
        <span class="material-icons">
          logout
          </span>
          <h2>
            Sign out 
          </h2>
        </div>
        <!-- <button class="sidebar__tweet">Tweet</button> -->
      </div>
    </a>
    <!-- END OF LEFT SIDE NAV -->

    <!-- CONTENT -->
    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <h2><%= user.username%></h2>
      </div>

      <!-- tweetbox starts -->

      <div class="tweetBox" style="text-align: center;">
          <img
            src="<%= user.Profile.imageURL %>"
            alt="" width="200px" height="200px" style="padding-top: 16px;"
          />
          
            <div style="text-align: center; padding-top: 16px;">
              <h3 style="font-weight: 900; padding-top: 10px;padding-bottom: 6px;"><%= user.Profile.firstName %> <%= user.Profile.lastName %></h3>
              <p style="font-weight: 600; padding-top: 4px;padding-bottom: 6px;">@<%= user.username%></p>
              <p style="padding-top: 4px;padding-bottom: 6px;">Joined <%= user.Profile.joinedDate %></p>
              <p style="padding-top: 4px;padding-bottom: 6px;"><%= user.Profile.location %></p>
              <% if (user.username === session.username) {%>
                <button class="tweetBox__tweetButton"><a href="/profile/<%=user.username%>/edit" class="text-decoration-none">Edit Profile</a> </button>
                <% } %>

            </div>      
          
      </div>
      <!-- tweetbox ends -->

      <!-- post starts -->
      <% user.Tweets.forEach(el => { %> 
      <div class="post">
        <div class="post__avatar">
          <img
          src="<%= user.Profile.imageURL %>"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                <%= user.Profile.firstName %> <%= user.Profile.lastName %>
                <span class="post__headerSpecial"
                  >
                  <% if (user.isVerified) { %> 
                    <span class="material-icons post__badge"> verified </span>
                  <% } %> @<%= user.username %></span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p><%= el.tweet %></p>
            </div>
          </div>
          <img
            src="<%= el.imageURL %>"
            alt="" style="padding-top: 12px; padding-bottom: 12px;"
          />
          <div class="d-flex">
            <!-- <a class="material-icons text-decoration-none"> repeat </a> -->
             <!-- <a class="material-icons me-5 ms-5 text-decoration-none"> favorite_border </a> -->
               <a class="material-icons text-decoration-none" href="/tweets/<%= user.id %>/delete"> delete </a>
           </div>
        </div>
      </div>
      <% }) %> 
      <!-- post ends -->
    </div>
    <!-- feed ends -->

    <!--RIGHT SIDE NAV-->
    <!-- widgets starts -->
    <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"> search </span>
        <form action="/tweets" method="get">
          <input type="text" placeholder="Search Twitter" name="tweet" />
        </form>
      </div>

      <div class="widgets__widgetContainer">
        <h2>What's happening?</h2>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            Sunsets don&#39;t get much better than this one over
            <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
            <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw"
              >#nature</a
            >
            <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw"
              >#sunset</a
            >
            <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
          </p>
          &mdash; US Department of the Interior (@Interior)
          <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw"
            >May 5, 2014</a
          >
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <!-- widgets ends -->
    <!--END OF RIGHT SIDE NAV-->
  </body>
</html>